{% extends 'base.html.twig' %}

{% block body %}
  <div class="container m-t-3 p-t-1">
    <h1>Objets disponible</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td><a href="{{ path('objets_show', { 'id': objet.id }) }}">{{ objet.id }}</a></td>
                <td>{{ objet.nom }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.categorie }}</td>
                <td>
                    <a class="btn btn-btn" style="background:grey ; color:white" href="#" role="button">JE LE VEUX</a>
                    <!--<ul>
                        <li>
                            <a href="{{ path('objets_show', { 'id': objet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objets_edit', { 'id': objet.id }) }}">edit</a>
                        </li>
                    </ul>-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<ul>
        <li>
            <a href="{{ path('objets_new') }}">Create a new entry</a>
        </li>
    </ul>-->
    </div>
{% endblock %}
